* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #575a60;
}


.container {
    width: 500px;
    height: 500px;
    background-image: url(img/animation.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
